

## Redirect phixi.bplaced.net/api/a/b/c/d/e/f/g/...  to  /api/a/index.php?b=c&d=e&f=g&... (up to 5 key/value pairs)
#
RewriteEngine On
RewriteRule ^api/([a-z0-9]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/?$ api/$1/index.php?$2=$3&$4=$5&$6=$7&$8=$9&$10=$11 [QSA,L]
RewriteRule ^api/([a-z0-9]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/?$ api/$1/index.php?$2=$3&$4=$5&$6=$7&$8=$9 [QSA,L]
RewriteRule ^api/([a-z0-9]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/?$ api/$1/index.php?$2=$3&$4=$5&$6=$7 [QSA,L]
RewriteRule ^api/([a-z0-9]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/?$ api/$1/index.php?$2=$3&$4=$5 [QSA,L]
RewriteRule ^api/([a-z0-9]+)/([a-z0-9]+)/([a-z0-9,.\-;:_]+)/?$ api/$1/index.php?$2=$3 [QSA,L]
